{% extends 'base.html' %}
{% block content %}
{% block title %}<title>Dashboard | Around The World</title>{% endblock %}
<h1>News Dashboard</h1>
<h2>Trending</h2>
{% if trending_articles %}
<div class="row">
  {% for trending_article in trending_articles %}
  <div class="col s12 m6">
    <a href="{{ trending_article.url }}" class="card-link">
      <div class="card">
        <div class="card-image">
          {% if trending_article.url_to_image %}
          <img src="{{ trending_article.url_to_image }}" alt="{{ trending_article.title }}">
          {% endif %}
        </div>
        <div class="card-content black-text">
          {% if trending_article.url_to_image %}
          <h3>{{ trending_article.title }}</h3>
          {% endif %}
          <p>{{ trending_article.description }}</p>
        </div>
        <div class="card-action">
          <p>Read More</p>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endif %}
<h2>Top Headlines</h2>


<div class="row">
{% for article in articles %}
    <div class="col s12 m6 l4">
        <a href="{{ article.url }}" class="card-link">
            <div class="card">
                <div class="card-image">
                    {% if article.url_to_image %}
                    <img src="{{ article.url_to_image }}" alt="{{ article.title }}">
                    {% endif %}
                </div>
                <div class="card-content black-text">
                    {% if article.url_to_image %}
                    <h3>{{ article.title }}</h3>
                    {% endif %}
                    <p>{{ article.description }}</p>
                </div>
                <div class="card-action">
                    <p>Read More</p>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
</div>
{% endblock %}
