{% extends 'base.html' %}

{% block content %}
  {% block title %}<title>{{ authored_article.title }} | Around The World</title>{% endblock %}
  <div class="container-fluid">
    <div class="custom-card">
      <h1 class="custom-card-title">{{ authored_article.title }}</h1>
      <div class="custom-card-image">
        <img class="responsive-img" src="{{ authored_article.image }}" alt="">
      </div>
      <div class="row">
        <div class="col s12 m2 sidebar">
          <a href="{{ authored_article.facebook_link }}">Facebook</a>
          <a href="{{ authored_article.twitter_link }}">Twitter</a>
          <a href="{{ authored_article.instagram_link }}">Instagram</a>
          <a href="{{ authored_article.linkedin_link }}">LinkedIn</a>
        </div>
        <div class="col s12 m9">
          <div class="card-content">
            {{ authored_article.content|safe }}
          </div>
          <div class="card-action">
            <a href="{% url 'authored_article_update' authored_article.id %}">Update</a>
            <a href="{% url 'authored_article_delete' authored_article.id %}">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
