{% extends 'base.html' %}

{% block content %}
  {% block title %}<title>{{ authored_article.title }} | Around The World</title>{% endblock %}
  <div class="container-fluid">
    <div class="custom-card">
      <h1 class="custom-card-title">{{ authored_article.title }}</h1>
      <div class="custom-card-image">
        <img class="responsive-img" src="https://d3eeke16mv0lt7.cloudfront.net/sites/default/files/styles/article_hero_image__1_5x/public/field/image/web-links-testing-nikolay.jpg?itok=vG9GcMWd" alt="">
      </div>
      <div class="row">
        <div class="col s12 m2 sidebar">
          <a href="{{ authored_article.facebook_link }}">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="{{ authored_article.twitter_link }}">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="{{ authored_article.instagram_link }}">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="{{ authored_article.linkedin_link }}">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
        
        <div class="col s12 m9">
          <div class="card-content">
            {{ authored_article.content|safe }}
          </div>
          <div>
            <a class="btn updel" href="{% url 'authored_article_update' authored_article.id %}">Update</a>
            <a class="btn updel" href="{% url 'authored_article_delete' authored_article.id %}">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
